{% load static%}
<html>
    <head>
        <title>Prep | LMS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'lms.css' %}">
       
        <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css”rel=”nofollow” integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <script src=”https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js” integrity=”sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo” crossorigin=”anonymous”></script>
    </head>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle">
                 <i class='bx bx-menu' id="header-toggle"></i> 
            </div>
           
                  
                      <a href="#"><i class="bx bxs-bell"></i>
                      </a>
            
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> 
                    <a href="#" class="nav_logo">
                        <i class='bx bx-layer nav_logo-icon'></i>
                         <span class="nav_logo-name">Prep</span>
                       
                     </a>

                     
                     <!--Navbar list-->
                    <div class="nav_list"> 
                        <a href="file:///C:/Users/23350/Desktop/work/index.html" class="nav_link"> 
                            <i class='bx bx-grid-alt nav_icon'></i>
                            <span class="nav_name">Dashboard</span> 
                        </a>

                        <a href="#" class="nav_link"> 
                            <i class='bx bx-user nav_icon'></i>
                            <span class="nav_name">Users</span>
                        </a>
                        <a href="#" class="nav_link"> 
                            <i class='bx bxs-videos nav_icon'></i> 
                            <span class="nav_name">virtual Classrooms</span> 
                        </a>
                        <a href="quiz.html" class="nav_link ">
                            <i class='bx bx-bookmark nav_icon'></i>
                             <span class="nav_name">Quizes</span> 
                        </a>

                        <a href="#" class="nav_link active">
                            <i class='bx bx-chat'></i>
                             <span class="nav_name">Forum</span>
                        </a>

                         <a href="chat.html" class="nav_link">
                            <i class='bx bx-message-rounded-dots'></i>
                             <span class="nav_name">Chats</span>

                        <a href="#" class="nav_link"> 
                            <i class='bx bx-book-bookmark'></i>
                            <span class="nav_name">Gradebook</span>
                        </a>
                        <a href="#" class="nav_link">
                            <i class='bx bx-bar-chart-alt-2 nav_icon'></i> 
                            <span class="nav_name">Stats</span>
                        </a> 
                 </div>
                </div>

                <!--sign out-->
                 <a href="#" class="nav_link">
                      <i class='bx bx-log-out nav_icon'></i>
                       <span class="nav_name">SignOut</span>
                </a>
            </nav>
        </div>

        <!--Container Main start-->
        <div class="height-100 bg-light">
           
            <h2 style="padding-top: 50px;"><i class='bx bx-chat'></i> Forum</h2>
            <hr>
            
            <div class="info">
                <h3>Take an Assessment</h3>
                <p>You have to complete the assessments listed below.  
                    Feedback will be available at the time shown. </p>
    


            </div>
            

              
                <!--TABLE CONTENT-->
                <table>
                    <tr>
                      <th>Conversation</th>
                      <th>Authored by</th>
                      <th>Date</th>
                    </tr>
                    <tr>
                      <td><a href="#">Thesis Statements</a></td>
                      <td>Ebenezer Quaidoo</td>
                      <td><span style="font-weight:bold;">february 5, 20:21 pm</span></td>
                      
                    </tr>
                    <tr>
                        <td><a href="#">Thesis Statements</a></td>
                        <td>Ebenezer Quaidoo</td>
                        <td><span style="font-weight:bold;">february 5, 20:21 pm</span></td>
                      
                        
                    </tr>
                    <tr>
                        <td><a href="#">Thesis Statements</a></td>
                        <td>Ebenezer Quaidoo</td>
                        <td><span style="font-weight:bold;">february 5, 20:21 pm</span></td>
                      
                        
                    </tr>
                    <tr>
                        <td><a href="#">Thesis Statements</a></td>
                        <td>Ebenezer Quaidoo</td>
                        <td><span style="font-weight:bold;">february 5, 20:21 pm</span></td>
                      
                    </tr>
                    </tr>
                    <tr>
                        <td><a href="#">Thesis Statements</a></td>
                        <td>Ebenezer Quaidoo</td>
                        <td><span style="font-weight:bold;">february 5, 20:21 pm</span></td>
                      
                    </tr>
                    <tr>
                        <td><a href="#">Thesis Statements</a></td>
                        <td>Ebenezer Quaidoo</td>
                        <td><span style="font-weight:bold;">february 5, 20:21 pm</span></td>
                      
                    </tr>
                    <tr>
                        <td><a href="#">Thesis Statements</a></td>
                        <td>Ebenezer Quaidoo</td>
                        <td><span style="font-weight:bold;">february 5, 20:21 pm</span></td>
                      
                        
                    </tr>
                    <tr>
                        <td><a href="#">Thesis Statements</a></td>
                        <td>Ebenezer Quaidoo</td>
                        <td><span style="font-weight:bold;">february 5, 20:21 pm</span></td>
                      
                      
                      </tr>
                    </tr>
                    <tr>
                        <td><a href="#">Thesis Statements</a></td>
                        <td>Ebenezer Quaidoo</td>
                          <td><span style="font-weight:bold;">february 5, 20:21 pm</span></td>
                    </tr>
                    <tr>
                        <td><a href="#">Thesis Statements</a></td>
                        <td>Ebenezer Quaidoo</td>
                         <td><span  style="font-weight:bold;">february 5, 20:21 pm</span></td>>
                        
                    </tr>
                    <tr>
                        <td><a href="#">Thesis Statements</a></td>
                        <td>Ebenezer Quaidoo</td>
                          <td><span style="font-weight:bold;">february 5, 20:21 pm</span></td>
                        
                    </tr>
                  </table>






        </div>

    


        <!--javascript-->
        </body>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
            
            const showNavbar = (toggleId, navId, bodyId, headerId) =>{
            const toggle = document.getElementById(toggleId),
            nav = document.getElementById(navId),
            bodypd = document.getElementById(bodyId),
            headerpd = document.getElementById(headerId)
            
            // Validate that all variables exist
            if(toggle && nav && bodypd && headerpd){
            toggle.addEventListener('click', ()=>{
            // show navbar
            nav.classList.toggle('show')
            // change icon
            toggle.classList.toggle('bx-x')
            // add padding to body
            bodypd.classList.toggle('body-pd')
            // add padding to header
            headerpd.classList.toggle('body-pd')
            })
            }
            }
            
            showNavbar('header-toggle','nav-bar','body-pd','header')
            
            /*===== LINK ACTIVE =====*/
            const linkColor = document.querySelectorAll('.nav_link')
            
            function colorLink(){
            if(linkColor){
            linkColor.forEach(l=> l.classList.remove('active'))
            this.classList.add('active')
            }
            }
            linkColor.forEach(l=> l.addEventListener('click', colorLink))
            
            // Your code to run since DOM is loaded and ready
            });
                    </script>
</html>
