<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Forum Discusssion</title>
	<link rel="stylesheet" type="text/css" href="../css/forum.css" >
</head>

<body>
	<div class="container">
		<div class="nav"> <p>Navigations</p> </div>

		<div class="chat">

			<div class="chats">
				<!-- <h1>CHATS</h1> -->
				<div class="chatter">
					<h2>Chat Messages</h2>

					<div class="yoo">
					  <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
					  <p>Hello. How are you today?</p>
					  <span class="time-right">11:00</span>
					</div>

					<div class="yoo darker">
					  <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
					  <p>Hey! I'm fine. Thanks for asking!</p>
					  <span class="time-left">11:01</span>
					</div>

					<div class="yoo">
					  <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
					  <p>Sweet! So, what do you wanna do today?</p>
					  <span class="time-right">11:02</span>
					</div>

					<div class="yoo darker">
					  <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
					  <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
					  <span class="time-left">11:05</span>
					</div>


					<div class="yoo">
					  <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
					  <p>Sweet! So, what do you wanna do today?</p>
					  <span class="time-right">11:02</span>
					</div>

					<div class="yoo">
					  <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
					  <p>Sweet! So, what do you wanna do today?</p>
					  <span class="time-right">11:02</span>
					</div>

					<div class="yoo darker">
					  <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
					  <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
					  <span class="time-left">11:05</span>
					</div>


					<div class="yoo">
					  <img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
					  <p>Sweet! So, what do you wanna do today?</p>
					  <span class="time-right">11:02</span>
					</div>
					
				</div>
				
			</div>

		

			<div class="tt">
				<div class="ttt">

					<input class="tar" type="text" name="text_input">

					<input type="submit" name="send" placeholder="Send" style="width: 12%; height: 49px;" >

				</div>
				
			</div>

		</div>	

	</div>

</body>
</html>