{%% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>sSMART INTERNAIONAL SCHOOL</h1>
        <h2>KPONE - TEMA</h2>
        <h3>POST OFFICE BOX NB 541, TEMA</h3>
    </div>

    <div><h3>Answer all questions in this sections</h3></div>

    <div>
        <div>
            <h2>What is a noun?</h2>
            <ol>
                <li>A name of a person, animal, place or thiing</li>
                <li>An action</li>
                <li>A descriptioon of a verb</li>
                <li>A feeling wee experience</li>
                <li>None of the above</li>
            </ol>
        </div>
    </div>
</body>
</html>