$primary-color: #fff;
$cursor: pointer;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #EEF0F7;
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  background-color: $primary-color;
  width: 600px;
  height: 450px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  line-height: 1.5;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);

  &::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(to bottom right, #FF9EC4, #FFD07E);
    width: 900px;
    height: 900px;
    border-radius: 50%;
    z-index: -1;
  }

  &-close {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: $primary-color;
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    font-size: 1.7rem;
    color: #2E4052;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.164);
    cursor: $cursor;
  }

  img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }

  &-text {
    padding: 10px 40px 10px 10px;

    h2 {
      font-size: 1.2rem;
      color: #1A2250;
    }

    p {
      font-size: 14px;
      color: #3B4169;
      margin: 10px 0;
    }

    input,
    button {
      width: 100%;
      border: none;
      padding: 14px;
      border-radius: 3px;
    }

    input {
      border: 2px solid #DADDEC;
      margin: 5px 0 10px;
      font-size: 1rem;
      color: #656880;
    }

    button {
      background-image: linear-gradient(to right, #89CAFF, #6589FF);
      display: block;
      color: $primary-color;
      font-size: 1rem;
      cursor: $cursor;
      box-shadow: 0 5px 20px #89caff94;
      transition: box-shadow .3s ease-in-out;
    }

    button:hover {
      box-shadow: none;
    }

    span {
      display: block;
      text-align: center;
      margin: 20px 0 0;
      color: #BABDCB;
      font-size: 12px;
    }
  }
}